version: '{build}'
environment:
  JAVA_HOME: C:\Program Files\Java\jdk11
#

build_script:
  - gradlew.bat buildPlugin --warning-mode none
#

artifacts:
  - path: 'build\distributions\*.zip'
    name: window-layout-manager
#

deploy_script:
- ps: >-
    if ($env:APPVEYOR_REPO_TAG -eq $TRUE -And $env:APPVEYOR_REPO_TAG_NAME -match '^\d+\.\d+(\.\d+)?$') {
      .\gradlew publishPlugin --warning-mode none
    }
#